<app-sidebar></app-sidebar>

<div class="maincontent">
  <div class="container-fluid">
    <app-navbar></app-navbar>
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Leader Message</p>
            <div>{{data.issueNumber}}</div>
              <video height="170" controls>
                <source src="videos/Nov2019.MOV" type="video/mp4">
              </video>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">art_track</i>
            </div>
            <p class="card-category">Arts</p>
           <img src="/assets/images/arts1.jpg" routerLink="#">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Puzzle</p>
            <img src="/assets/images/puzzle.jpg" routerLink="/puzzle">
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Recognition</p>
            <img src="/assets/images/recognition.png" routerLink="/recognition">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Art Of Writing</p>
            <img src="/assets/images/article.jpg" routerLink="/artwriting">
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Yummy Tummy</p>
            <img src="/assets/images/food.jpg" routerLink="/yummytummy">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Travel Blog</p>
            <img src="/assets/images/travel-blogger.jpg" routerLink="/cornersoftheworld">
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">featured_video</i>
            </div>
            <p class="card-category">Happy Moments</p>
            <img src="/assets/images/happy-moments.jpg" routerLink="/happymoments">
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
